# Ignore IDE Settings Files
.idea
.vs
.vscode

# Ignore cmake build files
cmake-build-debug
cmake-build-release
build
out

# Ignore intermediary shader compilations
*.spv

# Ignore blender files
*.blend

# Ignore vkvia.exe (from vulkan sdk) output.
vkvia.html\

# Ignore puml output
docs/diagrams/pumls
#Ignore tag generation for intellisense
GPATH
GRTAGS
GTAGS
docs/Overview.pdf
docs/Overview.md
